/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0;
}

.App-header h1 {
  margin: 0;
  font-size: 24px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.calendar-container {
  flex: 3;
  min-width: 600px;
  margin-right: 10px;
}

.blocks-container {
  flex: 1;
  min-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.blocks-container h2 {
  text-align: center;
}

.block {
  padding: 10px;
  margin: 10px 0;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.block.pl {
  background-color: #2196F3;
  border: 2px solid #0D47A1;
}

.block.tp {
  background-color: #4CAF50;
  border: 2px solid #1B5E20;
}

.block:hover {
  transform: scale(1.05);
}

.fc-toolbar {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.fc-toolbar-title {
  font-size: 18px;
  font-weight: bold;
}

.fc-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.fc-button:hover {
  background-color: #0056b3;
}

.fc-button.fc-button-active {
  background-color: #0056b3;
}

.fc-button:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.remove-event-btn,
.edit-event-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.remove-event-btn:hover {
  color: #ff4d4d;
}

.edit-event-btn:hover {
  color: #ffc107;
}

.fc-toolbar-selects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.fc-toolbar-selects select {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  height: 34px;
  min-width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fc-toolbar-selects select:hover {
  background-color: #333;
}

.fc-timegrid-slot {
  min-height: 25px; /* ou 30px se precisares mais espaço */
}

.fc-event.fc-pl {
  background-color: #2196F3 !important;
  border: 2px solid #0D47A1 !important;
  color: white !important;
}

.fc-event.fc-tp {
  background-color: #4CAF50 !important;
  border: 2px solid #1B5E20 !important;
  color: white !important;
}
